<!DOCTYPE html>
<html ng-app="TaekwondoTextbookApp">
<head>
    <title>Taekwondo Terminology</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
    <script type="text/javascript" src="application.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body ng-controller="TextbookController" tabindex="0" ng-keydown="keyPress($event);">
    <div class="textbook">
        <h1 class="textbook-title">Taekwondo Terminology</h1>
        <div class="pages">
            <div ng-repeat="page in pages">
                <page ng-show="$parent.page == page.index" compile="page.html" class="page"></page>
            </div>
            <div class="page-buttons">
                <button class="previous-page-button" ng-show="page > 1" ng-click="previousPage();">&larr; Previous Page</button>
                <button class="next-page-button" ng-show="page < numberOfPages" ng-click="nextPage();">Next Page &rarr;</button>
                <div style="clear:both;"></div>
            </div>
            <div class="page-number">{{page}}</div>
        </div>
    </div>
</body>
</html>
